# 3.6.3 Multiple Linear Regression
## Import and load data

In [81]:
from scipy import stats
import pandas as pd
import seaborn as sns
import scipy as sp
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
from sklearn.preprocessing import scale
import sklearn.linear_model as skl_lm
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm
import statsmodels.formula.api as smf
%matplotlib inline
plt.style.use('seaborn-white')


boston = pd.read_csv('Data/Boston.csv')
boston[0:10]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [82]:
res = smf.ols('medv ~ ' + '+'.join(boston.columns.difference(['medv'])), boston).fit()
res.summary().tables[1]

In the above regression output, ${\tt age}$ and ${\tt indus}$ have a high p-value. So we may wish to run a regression excluding these predictors:

In [74]:
res = smf.ols('medv ~ ' + '+'.join(boston.columns.difference(['medv', 'age', 'indus'])), boston).fit()
res.summary().tables[1]; # semicolon

$R^2$ Statistic

In [83]:
print("R^2: %f" % res.rsquared)

R^2: 0.740643

###### Residual standard error

In [86]:
print("RSE: %f" % np.sqrt(res.mse_resid))

RSE: 4.745298

###### VIF (variance inflation factors)

In [115]:
from statsmodels.stats import outliers_influence
from patsy import dmatrices

y, X = dmatrices('medv ~ ' + '+'.join(boston.columns.difference(['medv'])), boston, return_type='dataframe')

vif = pd.DataFrame() 
vif["vif"] = [outliers_influence.variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif

           vif   features
0   585.265238  Intercept
1     3.100826        age
2     1.348521      black
3     1.073995       chas
4     1.792192       crim
5     3.955945        dis
6     3.991596      indus
7     2.941491      lstat
8     4.393720        nox
9     1.799084    ptratio
10    7.484496        rad
11    1.933744         rm
12    9.008554        tax
13    2.298758         zn